/* body {
  background-image: url(https://images.unsplash.com/photo-1496181133206-80ce9b88a853?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1471&q=80);
  background-repeat: no-repeat;
  
} */

.heading-main {
  background: #b8e1fc;
  background: -webkit-radial-gradient(
    circle farthest-corner at center center,
    #406c8a 0%,
    #231421 100%
  );
  background: -moz-radial-gradient(
    circle farthest-corner at center center,
    #457697 0%,
    #231421 100%
  );
  background: radial-gradient(
    circle farthest-corner at center center,
    #c4e2f5 0%,
    #231421 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.submit-btn {
  text-align-last: center;
  /* margin-top: 50px; */
}

.submit-btn button {
  padding: 4px 80px;
  border-radius: 50px;
  font-size: 1rem;
  font-weight: 300;
}

.main-form-content {
  /* border: 1px solid #a8a8e2; */
  padding: 10px;
  /* border-radius: 10px; */
}

label {
  font-weight: 500;
  color: #4a3c99;
}

.sidebar-main-content .col-md-3 {
  background: #e9e9e8;
  height: 100vh;
}

.sidebar-main-content .nav-pills {
  margin-top: 50px;
}

.sidebar-main-content .row {
  margin: 0 !important;
}

.sidebar-main-content a {
  color: #3d3e3f;
  text-decoration: none;
  background-color: transparent;
  margin-bottom: 20px;
}

/* form navbar */
.kyc-navbar {
  background-color: #7552f5;
}

.navbar-brand {
  margin-left: 30px;
  color: white !important;
  font-weight: 700;
  background: rgb(97, 116, 216);
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgb(100, 90, 92) 100%
  );
  padding: 20px;
  border-radius: 20px;
}

.nav-link:active,
.nav-link:focus {
  background-color: rgb(26, 40, 172);
  border-radius: 5px;
}

.nav-link {
  color: white !important;
  font-weight: 500;
}
